@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto:300,300i,500,500i");

/*
 =====================================================

   _____                                _    _ _  __
  / ____|                              | |  | | |/ /
 | (___  _ __   ___  _ __   __ _  ___  | |  | | ' /
  \___ \| '_ \ / _ \| '_ \ / _` |/ _ \ | |  | |  <
  ____) | |_) | (_) | | | | (_| |  __/ | |__| | . \
 |_____/| .__/ \___/|_| |_|\__, |\___|  \____/|_|\_\
        | |                 __/ |
        |_|                |___/

=====================================================
 SPONGE UK DEVELOPER TEST
 Main CSS
=====================================================
*/

//Set up colours
$black: #212D35;
$red: #F9423A;
$star: #FFB400;

body {
  min-width: 320px;

  font-family: "Roboto", serif;
  color: $black;
  font-weight: 300;
}

#header-wrapper {
  position: relative;

  background: $red;

  z-index: 2;
}

  #header {
    padding-top: 60px;
    padding-bottom: 45px;

    color: #FFF;

    img {
      margin-right: auto;
      margin-bottom: 30px;
      margin-left: auto;

      display: block;
    }

    h1 {
      color: #FFF;
    }

    h1 + p {
      font-size: 1.8em;
    }
  }


#content {
 //padding-top: 30px;
  padding-bottom: 30px;

  img{
    width: 100%;
  }
}
#tasks{
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  position: relative;
  background-color: #f2f2f2;
  counter-reset: tasks;
  z-index: 1;

  article{
    counter-increment: tasks;

    h5{
      color: $red;
      &::before{
        min-width: 0.75em;
        padding-right: 0.5em;
        display: inline-block;
        color: $black;
        font-weight: 300;
        vertical-align: text-bottom;
        content: counter(tasks) ".";
      }

      .difficulty{
        margin-left: 1.5em;
        display: inline-block;
        float: right;
        color: $star;
        font-size: 0.8em;
        white-space: nowrap;

        .fa{ margin-left: 0.1em; }
        .fa-star-o{ color: #7e7772; }
      }
    }
  }
}


#footer-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;

  position: relative;

  color: #FFF;

  background-color: $black;

  z-index: 2;
}

  #footer a {
    color: inherit;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
  color: $red;
}

p,
ul,
ol {
  font-size: 1.5em;
}

  p code,
  li code {
    padding-right: 0.2em;
    padding-left: 0.2em;

    line-height: 1.35;
    vertical-align: baseline;
    font-size: 0.9em;

    background-color: #D4D4D4;

    outline: none;
  }

code,
pre {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

/**
 * Styles to make the boxes actually visible to start
 */
#boxes {
  padding: 40px;
  position: relative;
  text-align: right;
  &:after{
    content:"Wrapper";
    font-size: 1.5em;
    padding: 10px 18px;
    color: white;
    position: absolute;
    top: 100%;
    right:0;
    width: auto;
    background: #7B0051;
  }

}

#box-left {
  height: 50px;
  width: 210px;
  max-width: calc(50% - 40px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:before{
    text-align: center;
    content:"Left";
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

#box-right {
  width: 50%;
  height: 0px;
  padding-bottom: 45%;
  position: relative;
  display: inline-block;
  &:before{
    text-align: center;
    content:"Right";
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

/* Make tabs */
.tab-menu {
  margin:0; padding-top: 30px;
  li{
    display: block;
    float: left;
    a{
      border: 1px solid $red;
      padding: 0.75em 18px; // fix tabs at 320px
      text-decoration: none;
      color: $red;
      display: block;
      border-bottom: 0;
      margin: 0 5px 0 0;
      &.active{
        background: $red;
        color: #ffffff;
      }
    }
  }
}

.tab-content{
  clear: both;
  display: none;
  border-top: 1px solid $red;
  padding: 1.5em 0 0 0;
  &.active{ display: block; }
}

@media (max-width:500px){
  html{ font-size: 12.5px; }
}